<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated softwarerepository -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="softwarerepository.presentation.SoftwarerepositoryModelWizardID"
            name="%_UI_SoftwarerepositoryModelWizard_label"
            class="softwarerepository.presentation.SoftwarerepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SoftwarerepositoryModelFile.gif">
         <description>%_UI_SoftwarerepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated softwarerepository -->
      <editor
            id="softwarerepository.presentation.SoftwarerepositoryEditorID"
            name="%_UI_SoftwarerepositoryEditor_label"
            icon="icons/full/obj16/SoftwarerepositoryModelFile.gif"
            extensions="softwarerepository"
            class="softwarerepository.presentation.SoftwarerepositoryEditor"
            contributorClass="softwarerepository.presentation.SoftwarerepositoryActionBarContributor">
      </editor>
   </extension>

</plugin>
