<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated variables -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="variables.presentation.VariablesModelWizardID"
            name="%_UI_VariablesModelWizard_label"
            class="variables.presentation.VariablesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VariablesModelFile.gif">
         <description>%_UI_VariablesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated variables -->
      <editor
            id="variables.presentation.VariablesEditorID"
            name="%_UI_VariablesEditor_label"
            icon="icons/full/obj16/VariablesModelFile.gif"
            extensions="variables"
            class="variables.presentation.VariablesEditor"
            contributorClass="variables.presentation.VariablesActionBarContributor">
      </editor>
   </extension>

</plugin>
