<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated performanceannotations -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="performanceannotations.presentation.PerformanceannotationsModelWizardID"
            name="%_UI_PerformanceannotationsModelWizard_label"
            class="performanceannotations.presentation.PerformanceannotationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PerformanceannotationsModelFile.gif">
         <description>%_UI_PerformanceannotationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated performanceannotations -->
      <editor
            id="performanceannotations.presentation.PerformanceannotationsEditorID"
            name="%_UI_PerformanceannotationsEditor_label"
            icon="icons/full/obj16/PerformanceannotationsModelFile.gif"
            extensions="performanceannotations"
            class="performanceannotations.presentation.PerformanceannotationsEditor"
            contributorClass="performanceannotations.presentation.PerformanceannotationsActionBarContributor">
      </editor>
   </extension>

</plugin>
