<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated allocation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="allocation.presentation.AllocationDomainModelWizardID"
            name="%_UI_AllocationDomainModelWizard_label"
            class="allocation.presentation.AllocationDomainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AllocationDomainModelFile.gif">
         <description>%_UI_AllocationDomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated allocation -->
      <editor
            id="allocation.presentation.AllocationDomainEditorID"
            name="%_UI_AllocationDomainEditor_label"
            icon="icons/full/obj16/AllocationDomainModelFile.gif"
            extensions="allocationdomain"
            class="allocation.presentation.AllocationDomainEditor"
            contributorClass="allocation.presentation.AllocationDomainActionBarContributor">
      </editor>
   </extension>

</plugin>
