<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated seff -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="seff.presentation.SeffModelWizardID"
            name="%_UI_SeffModelWizard_label"
            class="seff.presentation.SeffModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SeffModelFile.gif">
         <description>%_UI_SeffModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated seff -->
      <editor
            id="seff.presentation.SeffEditorID"
            name="%_UI_SeffEditor_label"
            icon="icons/full/obj16/SeffModelFile.gif"
            extensions="seff"
            class="seff.presentation.SeffEditor"
            contributorClass="seff.presentation.SeffActionBarContributor">
      </editor>
   </extension>

</plugin>
